# Node modules
node_modules/

# Environment variables
.env
config.js

# Logs
*.log

# Archivos de whitelist (si no quieres subirlos)
whitelist.json

# Dependencias opcionales
package-lock.json

# Cachés
.DS_Store
